name: "github pages"
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  actions: read
  contents: read
  pages: write
  id-token: write
  deployments: write

concurrency:
  group: "github pages"
  cancel-in-progress: false

jobs:
  build:
    name: Build search
    runs-on: ubuntu-latest
    steps:
      - uses: cachix/install-nix-action@v31
      - uses: DeterminateSystems/magic-nix-cache-action@v13
        with:
          use-flakehub: false

      - uses: actions/checkout@v6

      - name: Build search
        run: nix build -L

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: result

  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
        if: github.event_name == 'push'
